.box{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: 400px;
    /*height: auto;*/
    border: 2px solid red;
    /* margin-right: auto; */
    padding: 10px;
    cursor: pointer;
}

.image{
    border: 1px solid red;

    
}

.image img{
    object-fit: contain;

}
