:root
{
  --colorscheme: #7373ff;
}
/*#7373ff;*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

a div {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  padding-left: 10px;
  line-height:normal;
}

a .logo
{
  color: var(--colorscheme);
  height: 50px;
  width: 50px;
}
button {
  border: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid grey 1px;
  box-shadow: 2px 2px rgb(173, 168, 168);
  width: auto;
  height: 90px;
  background-color: hsl(0, 0%, 100%);
  padding: 20px 40px;
}

.navbar .logo a{
  height: 100px;
  width: 100px;
  font-size: 100px;
  font-weight: 700;
  color: white;
  margin-left: 12px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-links {
  display: flex;
  gap:20px;
  padding-inline: 24px;
}

.menu-links a {
  font-weight: 500;
  color: var(--colorscheme);
  font-size: 20px;
  padding: 0px 20px;
  text-wrap:nowrap;
}
.menu-links a:hover {
  color: var(--colorscheme);
  background-color: #7373ff34;
  padding: 10px 20px;
  border-radius: 10px;
}

.search {
  color: var(--colorscheme);
  display: flex;
  justify-content: right;
  align-items: center;
  padding-left: 50px;
  width: 100%;
  min-width: 400px;
}

.search .field
{
  display: flex;
  padding: 25px 40px 25px 20px;
  height: 40px;
  font-size:16px;
  cursor: text;
  border-radius: 30px;
  border-color:rgb(156, 156, 156);
  outline:none;

}

.search .field::placeholder
{
  color:var(--colorscheme);
  opacity: 0.8;
}

.search .field:focus
{
  border-radius: 0px;
  cursor: text;
  border-color:rgb(156, 156, 156);
  outline: auto;
  outline-color: var(--colorscheme);
}

.search button
{
  display: flex;
  position:absolute;
  padding: 5px 5px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  border:none;
}

.search .search-icon
{
  color:var(--colorscheme);
  
}