#main{
    display:flex;
    flex-direction: column;
}

div.header{
    display:flex;
    flex-direction: column;
  }
  
  /* Selects all children tags under header class*/
  .header > *{
    place-items: center;
  }

  iframe{
    box-shadow: 1px 1px black;
  }
  
  .main{
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .mainImage{
    width: 200px;
    margin: 20px;
  }

  .playButton{
    width: 300px;
    height: 100px;
    margin: 30px;
    margin-top: 45px;
    font-size: 30px;
    cursor:pointer;
  }

  .footer{
    border: 1px solid #4140404f;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 100%, 0.089);
    padding: 20px;
    text-align: center;
    height: 500px;
    overflow-y: auto;
  } 