.paymentPage {
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.pageTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.paymentForm {
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 800px;
}

.column {
    flex: 1;
    padding: 15px;
}

h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    font-size: 0.9rem;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.cardsImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #6c63ff;
    outline: none;
    box-shadow: 0 0 4px rgba(108, 99, 255, 0.3);
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.row > .formGroup {
    flex: 1;
}

.submitButton {
    background-color: #6c63ff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s;
    animation: fadeIn 1s ease-in-out; /* Add the fadeIn animation */
}

.submitButton:hover {
    background-color: #5a52d4;
}

.successMessage {
    color: #28a745;
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
}

.errorMessage {
    color: #dc3545;
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
