.main {
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    align-items: center;      
    height: 100vh;
    background-image: url('../images/fruitsAndVeges.jpg'); /* Corrected syntax */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.login-box {
    margin-top: -10vw;
    width: 40vw;
    height: 30vw;
    border: 0.4vw solid black;
    background-color: rgba(0, 0, 0, 0.9); /* Black tint with 50% opacity */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box h1 {
    margin: -.5vw;
    color: white;
    font-size: 5vw;
    margin-bottom: 0vw;
}

.login-box h2 {

    color: white;

}

.buttonSpacing{
    margin-top: 20px;
}

input {
    align-items: center;
    width: 100%;
    height: 3vw;
}

input[type="text"],
input[type="password"] {
    width: 70%; /* Make the input wider */
    padding: 10px;
    margin-bottom: 15px; /* Space between inputs */
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}